body {
    
}

h1 {
    text-align: center;
}

.block-1 {

    background-color: skyblue;
    
}


.block-2 {

    background-color: pink;

    
}


.block-3 {

    background-color: white;
}
